.nav-home, .nav-back {
    align-items: center;
    display: flex;
    font-family: 'Special Elite', cursive;
    font-weight: bold;
}

.nav-home *, .nav-back * {
    color: black;
}

.nav-bar {
  display:flex;
  font-family: 'Special Elite', cursive;
  font-weight: bold;
  justify-content: center;
  margin-bottom: 2%;
  height: 50px;
}

.nav-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 1%;
  width: 10%;
  border: solid black 1px;
  border-radius: 20%;
}

.nav-items:nth-child(1) * {
  color: #1b8df0;
}

.nav-items:nth-child(2) * {
  color: #ca9f5a;
}

.nav-items:nth-child(3) * {
  color: #53bba9;
}

.nav-items:nth-child(4) * {
  color: #763900;
}

.nav-items:nth-child(5) * {
  color: #d31e0b;
}

.nav-items:nth-child(6) * {
  color: #714183;
}


.test * {
   color: #FB0000;
   font-family: "Special Elite";
   font-size: 25px;
}

.test {
       margin-top: 40px;
}

.welcome {
    font-family: 'Special Elite', cursive;
    color: red;
}

.welcome-id {
    font-family: 'Special Elite', cursive;
    color: black;
}

.welcome-show {
    font-family: 'Special Elite', cursive;
    color: black;
}

.welcome-page {
    display:flex;
    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    background-color: #F1F1F1;
    border-radius: 30px;
    border: solid black 3px;
    padding-bottom: 20px;
}

.welcome-info {
    width: 66%;
    box-sizing: border-box;
    padding: 0 5%;
}

.bold-points {
    font-weight: bold;
}

.category-welcome-index {
    width: 33%;
    box-sizing: border-box;
    text-align: center;
    /*padding-left: 10%*/
}

.map-wrapper {
	display: flex;
	justify-content: center;
}

.map-wrapper a {
	color: white;
	font-size: 12px;
	text-align: center;
}

.map {
	background-image: url("map-of-states.jpg");
	background-repeat: no-repeat;
	height: 900px;
	width: 1200px;
    border: solid black 3px;
    border-radius: 30px;
}

.specie-listing-wrapper {
	display: flex;
	height: 20px;
	position: relative;
	width: 200px;
}

.specie-icon {
	background-image: url("green-marker.png");
	background-size: contain;
	display: flex;
	height: 40px;
	justify-content: center;
	width: 40px;
}

.specie-listing-wrapper.birds .specie-icon {
	background-image: url("blue-marker.png");
}

.specie-listing-wrapper.mammals .specie-icon {
	background-image: url("brown-marker.png");
}

.specie-listing-wrapper.reptiles .specie-icon {
	background-image: url("dark-brown-marker.png");
}

.specie-listing-wrapper.amphibians .specie-icon {
	background-image: url("red-marker.png");
}

.specie-listing-wrapper.insects .specie-icon {
	background-image: url("purple-marker.png");
}

.click-target {
	height: 40px;
	width: 20px;
}

.specie-listing {
	align-items: center;
	background-color: #53bba9;
	border: solid black 2px;
	border-radius: 20%;
	display:flex;
	height: 40px;
	justify-content: center;
	width: 120px;
}

.birds .specie-listing {
	background-color: #1b8df0;
}

.mammals .specie-listing {
	background-color: #ca9f5a;
}

.reptiles .specie-listing {
	background-color: #763900;
}

.amphibians .specie-listing {
	background-color: #d31e0b;
}

.insects .specie-listing {
	background-color: #714183;
}

.specie-listing-wrapper:nth-of-type(1) {
	left: 945px;
	top: 260px;
}

.specie-listing-wrapper:nth-of-type(2) {
	left: 975px;
	top: 285px;
}

.specie-listing-wrapper:nth-of-type(3) {
	left: 953px;
	top: 300px;
}

.specie-listing-wrapper:nth-of-type(4) {
	left: 870px;
	top: 300px;
}

.specie-listing-wrapper:nth-of-type(5) {
	left: 910px;
	top: 305px;
}

.specie-listing-wrapper:nth-of-type(6) {
	left: 820px;
	top: 308px;
}

.specie-listing-wrapper:nth-of-type(7) {
	left: 900px;
	top: 310px;
}

.specie-listing-wrapper:nth-of-type(8) {
	left: 880px;
	top: 330px;
}

.specie-listing-wrapper:nth-of-type(9) {
	left: 760px;
	top: 340px;
}

.specie-listing-wrapper:nth-of-type(10) {
	left: 775px;
	top: 345px;
}

.specie-listing-wrapper:nth-of-type(11) {
	left: 760px;
	top: 360px;
}

.specie-listing-wrapper:nth-of-type(12) {
	left: 665px;
	top: 365px;
}

.specie-listing-wrapper:nth-of-type(13) {
	left: 730px;
	top: 380px;
}

.specie-listing-wrapper:nth-of-type(14) {
	left: 765px;
	top: 390px;
}

.specie-listing-wrapper:nth-of-type(15) {
	left: 735px;
	top: 395px;
}

.specie-listing-wrapper:nth-of-type(16) {
	left: 785px;
	top: 400px;
}

.specie-listing-wrapper:nth-of-type(17) {
	left: 795px;
	top: 410px;
}

.specie-listing-wrapper:nth-of-type(18) {
	left: 775px;
	top: 412px;
}

.specie-listing-wrapper:nth-of-type(19) {
	left: 790px;
	top: 415px;
}

.specie-listing-wrapper:nth-of-type(20) {
	left: 640px;
}

.specie-listing-wrapper:nth-of-type(21) {
	left: 610px;
}

.specie-listing-wrapper:nth-of-type(22) {
	left: 600px;
}

.specie-listing-wrapper:nth-of-type(23) {
	left: 690px;
}

.specie-listing-wrapper:nth-of-type(24) {
	left: 600px;
}

.specie-listing-wrapper:nth-of-type(25) {
	left: 550px;
}

.specie-listing-wrapper:nth-of-type(26) {
	left: 530px;
	top: 10px;
}

.specie-listing-wrapper:nth-of-type(27) {
	left: 560px;
	top: 15px;
}

.specie-listing-wrapper:nth-of-type(28) {
	left: 540px;
	top: 20px;
}


.specie-show {
    display: flex;
    font-family: 'Inconsolata', monospace;
    font-size: 26px;
    border-radius: 30px;
    border: solid black 3px;
    background-color: #F4F4F4;
    top: 75px;
    position: relative;
    height: 50%;
    padding: 15px 0px 0px 15px;
}

.specie-show-info {
        width: 50%;
        box-sizing: border-box;

}

.specie-properties {
    margin-top: 25px;
}

.specie-show-bold {
    font-weight: bold;
}
.specie-form {
    margin-top: 40px;
}

.specie-img {
    /*background-color: white;*/
    /*width: 50%;*/
}


.show.mammals::after {
    content: "";
    background-image: url(lionfur.jpg);
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;

    min-height: 900px;
    background-size: cover;
}


.show.amphibians::after {
    content: "";
    background-image: url(frogs.jpg);
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    min-height: 900px;
    background-size: cover;
}
.show.reptiles::after {
    content: "";
    background-image: url(snake.jpg);
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    min-height: 900px;
    background-size: cover;
}



.show.fish::after {
    content: "";
    background-image: url(fish.jpg);
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    min-height: 900px;
    background-size: cover;
}

.show.insects::after {
    content: "";
    background-image: url(butterfly2.jpg);
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    min-height: 900px;
    background-size: cover;
}



.show.birds::after {
    content: "";
    background-image: url(feather.jpg);
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    min-height: 900px;
    background-size: cover;
}


img {
    height: 475px;
    width: 550px;
    margin-top: 5px;
    padding-left: 60px;
    padding-bottom: 15px;
    padding-right: 15px;

}

footer {
    /*position: relative;*/
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    font-size: 10px;
    text-align: center;
    /*top: 500px;*/
    box-sizing: border-box;
    border: solid black 3px;
    border-radius: 30px;
    background-color: #F4F4F4;
    margin-top: 150px;
}

h3{
  margin-bottom: -10px;
  font-size: 12px;


}

.footer-links {
    margin-right: 5px;
}
