.test * {
    color: orange;
    font-family: "Special Elite";
}

.welcome {
    font-family: 'Special Elite', cursive;
    color: red;
}

body {
    background-image: url("turtle.jpg");
    background-size: cover;
}

.map-wrapper {
	display: flex;
	justify-content: center;
}

.map-wrapper a {
	color: white;
}

.map {
	background-image: url("map-of-states.jpg");
	background-repeat: no-repeat;
/*	background-size: contain;*/
	height: 900px;
	width: 1200px;
}

.specie-listing-wrapper {
	display: flex;
	height: 20px;
	position: relative;
	width: 200px;
}

.specie-icon {
	background-image: url("green-marker.png");
	background-size: contain;
	/*border: solid black 1px;*/
	display: flex;
	height: 40px;
	justify-content: center;
	width: 40px;
}

.click-target {
	/*background-color: gray;*/
	height: 40px;
	width: 20px;
}

.specie-listing {
	align-items: center;
	background-color: #53bba9;
	border: solid black 2px;
	border-radius: 20%;
	display:flex;
	height: 40px;
	justify-content: center;
	width: 120px;
}

.specie-listing-wrapper:nth-of-type(1) {
	/*background-color: red;*/
	left: 835px;
	top: 410px;
}

.specie-listing-wrapper:nth-of-type(2) {
/*	background-color: orange;*/
	left: 900px;
	top: 320px;
}

.specie-listing-wrapper:nth-of-type(3) {
	/*background-color: yellow;*/
	left: 950px;
	top: 280px;
}

.specie-listing-wrapper:nth-of-type(4) {
	/*background-color: green;*/
	left: 860px;
	top: 300px;
}

.specie-listing-wrapper:nth-of-type(5) {
	/*background-color: blue;*/
	left: 905px;
	top: 310px;
}

.specie-listing-wrapper:nth-of-type(6) {
	/*background-color: purple;*/
	left: 840px;
	top: 330px;
}

.specie-listing-wrapper:nth-of-type(7) {
	/*background-color: brown;*/
	left: 740px;
	top: 340px;
}

.specie-listing-wrapper:nth-of-type(8) {
	/*background-color: gray;*/
	left: 900px;
	top: 330px;
}

.specie-listing-wrapper:nth-of-type(9) {
	/*background-color: pink;*/
	left: 680px;
	top: 290px;
}

.specie-listing-wrapper:nth-of-type(10) {
	/*background-color: black;*/
	left: 600px;
	top: 250px;
}

.specie-listing-wrapper:nth-of-type(11) {
	/*background-color: red;*/
	left: 620px;
	top: 200px;
}

.specie-listing-wrapper:nth-of-type(12) {
	/*background-color: orange;*/
	left: 650px;
	top: 200px;
}

.specie-listing-wrapper:nth-of-type(13) {
	/*background-color: yellow;*/
	left: 720px;
	top: 140px;
}

.specie-listing-wrapper:nth-of-type(14) {
	/*background-color: green;*/
	left: 705px;
	top: 220px;
}

.specie-listing-wrapper:nth-of-type(15) {
	/*background-color: blue;*/
	left: 685px;
	top: 220px;
}

.specie-listing-wrapper:nth-of-type(16) {
	/*background-color: purple;*/
	left: 540px;
	top: 170px;
}

.specie-listing-wrapper:nth-of-type(17) {
	/*background-color: brown;*/
	left: 490px;
	top: 130px;
}

.specie-listing-wrapper:nth-of-type(18) {
	/*background-color: gray;*/
	left: 490px;
	top: 150px;
}

.specie-listing-wrapper:nth-of-type(19) {
	/*background-color: pink;*/
	left: 495px;
	top: 150px;
}

.specie-listing-wrapper:nth-of-type(20) {
	/*background-color: black;*/
	left: 760px;
	top: 140px;
}

.specie-listing-wrapper:nth-of-type(21) {
	/*background-color: red;*/
	left: 780px;
	top: 140px;
}

.specie-listing-wrapper:nth-of-type(22) {
	/*background-color: orange;*/
	left: 680px;
	top: 140px;
}

.specie-listing-wrapper:nth-of-type(23) {
	/*background-color: yellow;*/
	left: 690px;
	top: 140px;
}

.specie-listing-wrapper:nth-of-type(24) {
	/*background-color: limegreen;*/
	left: 690px;
	bottom: 160px;
}

.specie-listing-wrapper:nth-of-type(25) {
	/*background-color: blue;*/
	left: 700px;
	bottom: 150px;
}

.specie-listing-wrapper:nth-of-type(26) {
	/*background-color: purple;*/
	left: 710px;
	bottom: 150px;
}