.test * {
   color: orange;
   font-family: "Special Elite";
}

.welcome {
    font-family: 'Special Elite', cursive;
    color: red;
}


body {
    background-image: url("turtle.jpg");
    background-size: cover;
}

.map-wrapper {
	display: flex;
	justify-content: center;
}

.map-wrapper a {
	color: white;
}

.map {
	background-image: url("map-of-states.jpg");
	background-repeat: no-repeat;
/*	background-size: contain;*/
	height: 900px;
	width: 1200px;
}

.specie-listing-wrapper {
	display: flex;
	height: 20px;
	position: relative;
	width: 200px;
}

.specie-icon {
	background-image: url("green-marker.png");
	background-size: contain;
	/*border: solid black 1px;*/
	display: flex;
	height: 40px;
	justify-content: center;
	width: 40px;
}

.click-target {
	/*background-color: gray;*/
	height: 40px;
	width: 20px;
}

.specie-listing {
	align-items: center;
	background-color: #53bba9;
	border: solid black 2px;
	border-radius: 20%;
	display:flex;
	height: 40px;
	justify-content: center;
	width: 120px;
}

.specie-listing-wrapper:nth-of-type(1) {
	/*background-color: red;*/
	left: 945px;
	top: 260px;
}

.specie-listing-wrapper:nth-of-type(2) {
/*	background-color: orange;*/
	left: 975px;
	top: 285px;
}

.specie-listing-wrapper:nth-of-type(3) {
	/*background-color: yellow;*/
	left: 953px;
	top: 300px;
}

.specie-listing-wrapper:nth-of-type(4) {
	/*background-color: green;*/
	left: 870px;
	top: 300px;
}

.specie-listing-wrapper:nth-of-type(5) {
	/*background-color: blue;*/
	left: 910px;
	top: 305px;
}

.specie-listing-wrapper:nth-of-type(6) {
	/*background-color: purple;*/
	left: 820px;
	top: 308px;
}

.specie-listing-wrapper:nth-of-type(7) {
	/*background-color: brown;*/
	left: 900px;
	top: 310px;
}

.specie-listing-wrapper:nth-of-type(8) {
/*	background-color: gray;*/
	left: 880px;
	top: 330px;
}

.specie-listing-wrapper:nth-of-type(9) {
	/*background-color: pink;*/
	left: 760px;
	top: 340px;
}

.specie-listing-wrapper:nth-of-type(10) {
/*	background-color: black;*/
	left: 775px;
	top: 345px;
}

.specie-listing-wrapper:nth-of-type(11) {
/*	background-color: red;*/
	left: 760px;
	top: 360px;
}

.specie-listing-wrapper:nth-of-type(12) {
/*	background-color: orange;*/
	left: 665px;
	top: 365px;
}

.specie-listing-wrapper:nth-of-type(13) {
	/*background-color: yellow;*/
	left: 730px;
	top: 380px;
}

.specie-listing-wrapper:nth-of-type(14) {
/*	background-color: green;*/
	left: 765px;
	top: 390px;
}

.specie-listing-wrapper:nth-of-type(15) {
	/*background-color: blue;*/
	left: 735px;
	top: 395px;
}

.specie-listing-wrapper:nth-of-type(16) {
	/*background-color: purple;*/
	left: 785px;
	top: 400px;
}

.specie-listing-wrapper:nth-of-type(17) {
	/*background-color: brown;*/
	left: 795px;
	top: 410px;
}

.specie-listing-wrapper:nth-of-type(18) {
/*	background-color: gray;*/
	left: 775px;
	top: 412px;
}

.specie-listing-wrapper:nth-of-type(19) {
/*	background-color: pink;*/
	left: 790px;
	top: 415px;
}

.specie-listing-wrapper:nth-of-type(20) {
	/*background-color: black;*/
	left: 640px;
/*	top: 40px;*/
}

.specie-listing-wrapper:nth-of-type(21) {
	/*background-color: red;*/
	left: 610px;
	/*top: 40px;*/
}

.specie-listing-wrapper:nth-of-type(22) {
/*	background-color: orange;*/
	left: 600px;
/*	top: 40px;*/
}

.specie-listing-wrapper:nth-of-type(23) {
/*	background-color: yellow;*/
	left: 690px;
	/*top: 140px;*/
}

.specie-listing-wrapper:nth-of-type(24) {
/*	background-color: limegreen;*/
	left: 600px;
/*	bottom: 160px;*/
}

.specie-listing-wrapper:nth-of-type(25) {
/*	background-color: blue;*/
	left: 550px;
/*	bottom: 150px;*/
}

.specie-listing-wrapper:nth-of-type(26) {
/*	background-color: purple;*/
	left: 530px;
	top: 10px;
/*	bottom: 150px;*/
}

.specie-listing-wrapper:nth-of-type(27) {
/*	background-color: brown;*/
	left: 560px;
	top: 15px;
/*	bottom: 150px;*/
}

.specie-listing-wrapper:nth-of-type(28) {
/*	background-color: gray;*/
	left: 540px;
	top: 20px;
/*	bottom: 150px;*/
}

.birds  {
    background-image: url(sky.jpg);
    min-height: 900px;
    background-size: cover;
}
img {
    max-width: 500px;
    max-height: 500px;
}

/*body::after {
    content: "";
    background-image: url(collage.jpg);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}*/
/*main {
    min-height: 100vh;
    padding-bottom: 25px;
}*/

