.test * {
    color: orange;
    font-family: "Special Elite";
}

.welcome {
    font-family: 'Special Elite', cursive;
    color: red;
}

body {
    background-image: url("turtle.jpg");
    background-size: cover;
}

.map-wrapper {
	display: flex;
	justify-content: center;
}

.map-wrapper a {
	color: white;
}

.map {
	background-image: url("map-of-states.jpg");
	background-repeat: no-repeat;
/*	background-size: contain;*/
	height: 900px;
	width: 1200px;
}

.specie-listing-wrapper {
	display: flex;
	height: 40px;
	position: relative;
	width: 160px;
}

.specie-icon {
	background-image: url("green-marker.png");
	background-size: contain;
	height: 40px;
	width: 40px;
}

.specie-listing {
	align-items: center;
	background-color: #53bba9;
	border: solid black 2px;
	border-radius: 20%;
	display:flex;
	height: 40px;
	justify-content: center;
	width: 120px;
}

.specie-listing-wrapper:nth-of-type(1) {
	/*background-color: red;*/
	left: 940px;
	top: 360px;
}

.specie-listing-wrapper:nth-of-type(2) {
	/*background-color: orange;*/
	left: 920px;
	top: 300px;
}

.specie-listing-wrapper:nth-of-type(3) {
	/*background-color: yellow;*/
	left: 955px;
	top: 270px;
}

.specie-listing-wrapper:nth-of-type(4) {
	/*background-color: green;*/
	left: 900px;
	top: 225px;
}

.specie-listing-wrapper:nth-of-type(5) {
	/*background-color: blue;*/
	left: 905px;
	top: 250px;
}

.specie-listing-wrapper:nth-of-type(6) {
	/*background-color: purple;*/
	left: 920px;
	top: 185px;

}

