.test * {
    color: orange;
    font-family: "Special Elite";
}

.welcome {
    font-family: 'Special Elite', cursive;
    color: red;
}

body {
    background-image: url("turtle.jpg");
    background-size: cover;
}

.map-wrapper {
	display: flex;
	justify-content: center;
}

.map-wrapper a {
	color: white;
}

.map {
	background-image: url("map-of-states.jpg");
	background-repeat: no-repeat;
/*	background-size: contain;*/
	height: 900px;
	width: 1200px;
}

.specie-listing-wrapper {
	display: flex;
	height: 20px;
	position: relative;
	width: 200px;
}

.specie-icon {
	background-image: url("green-marker.png");
	background-size: contain;
	/*border: solid black 1px;*/
	display: flex;
	height: 40px;
	justify-content: center;
	width: 40px;
}

.click-target {
	/*background-color: gray;*/
	height: 30px;
	width: 20px;
}

.specie-listing {
	align-items: center;
	background-color: #53bba9;
	border: solid black 2px;
	border-radius: 20%;
	display:flex;
	height: 40px;
	justify-content: center;
	width: 120px;
}

.specie-listing-wrapper:nth-of-type(1) {
	/*background-color: red;*/
	left: 830px;
	top: 410px;
}

.specie-listing-wrapper:nth-of-type(2) {
/*	background-color: orange;*/
	left: 900px;
	top: 330px;
	z-index: 2;
}

.specie-listing-wrapper:nth-of-type(3) {
/*	background-color: yellow;*/
	left: 950px;
	top: 290px;
}

.specie-listing-wrapper:nth-of-type(4) {
	/*background-color: green;*/
	left: 870px;
	top: 310px;
}

.specie-listing-wrapper:nth-of-type(5) {
	/*background-color: blue;*/
	left: 905px;
	top: 310px;
}

.specie-listing-wrapper:nth-of-type(6) {
/*	background-color: purple;*/
	left: 840px;
	top: 335px;

}

