
<div class = "flexin">
	<div class="specieshowcat" data-ng-repeat="category in vm.categories">
		<p><a data-ui-sref="categoryShow({id: category.id})">{{category.name}}</a></p>
	</div>
</div>




<div class="map-wrapper">
	<div class="map">
		<div class="specie-listing-wrapper" data-ng-class="vm.category.name" data-ng-repeat= "specie in vm.category.species">
			<div class="specie-icon"><div class="click-target" ng-mouseover="show = !show"></div></div>
			<div class="specie-listing" ng-show="show"><a data-ui-sref="specieShow({id: specie.id})">{{specie.common_name}}</a></div>
		</div>
	</div>
</div>
